if SHIELD_LILY58_DONGLE || SHIELD_LILY58_LEFT_CENTRAL

config ZMK_KEYBOARD_NAME
    default "Lily58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LILY58_DONGLE || SHIELD_LILY58_LEFT_CENTRAL || SHIELD__LILY58_LEFT_PERIPHERAL || SHIELD_LILY58_RIGHT_PERIPHERAL

config ZMK_SPLIT
    default y

endif
