if SHIELD_LILY58_DONGLE || SHIELD_LILY58_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Lily58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LILY58_DONGLE || SHIELD_LILY58_CENTRAL_LEFT || SHIELD__LILY58_PERIPHERAL_LEFT || SHIELD_LILY58_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif
